<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.fheidl.alfred.copypathstoclipboard</string>
	<key>connections</key>
	<dict>
		<key>15AF07F6-F977-4D0D-9623-513AAE5C9FF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD1322FA-0163-4E0D-A433-DE4840C94AE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>29AFC161-7DA4-49DC-A28C-1FF147F6821F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59BF1AEF-144E-4042-8244-7E61E6D1325E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>93253571-0958-40AD-9ACE-5E97D0398853</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3A634EBE-9261-469F-8470-78621A73077D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D59D667-F0A9-4B57-987E-E686F6645998</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3A86F9C3-DED6-4654-BC42-5F8AB48D2E95</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8E24A6C-B6B3-4FCC-9963-9E2289AFE38D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5CA1DBC9-6B82-4CF2-827D-19AD5725E79C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93253571-0958-40AD-9ACE-5E97D0398853</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>601D59D3-8B11-4720-9F77-3D87A5819AA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59BF1AEF-144E-4042-8244-7E61E6D1325E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>93253571-0958-40AD-9ACE-5E97D0398853</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>636F43FB-27D6-4565-9034-33F7120B1D1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>601D59D3-8B11-4720-9F77-3D87A5819AA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>766986B8-A045-464A-964F-57DA3946A609</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5CA1DBC9-6B82-4CF2-827D-19AD5725E79C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9D59D667-F0A9-4B57-987E-E686F6645998</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59BF1AEF-144E-4042-8244-7E61E6D1325E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>93253571-0958-40AD-9ACE-5E97D0398853</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AD1322FA-0163-4E0D-A433-DE4840C94AE0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59BF1AEF-144E-4042-8244-7E61E6D1325E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>93253571-0958-40AD-9ACE-5E97D0398853</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E3E96354-4193-4BAC-893F-EF6A0C0AC8DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93253571-0958-40AD-9ACE-5E97D0398853</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F4987FD6-2542-473C-8881-1A6431EE2A41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E3E96354-4193-4BAC-893F-EF6A0C0AC8DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F8E24A6C-B6B3-4FCC-9963-9E2289AFE38D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59BF1AEF-144E-4042-8244-7E61E6D1325E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>93253571-0958-40AD-9ACE-5E97D0398853</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Franz Heidl</string>
	<key>description</key>
	<string>Copy Current File Paths to Clipboard as POSIX or HFS</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Copy Paths to Clipboard</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>paths</string>
				<key>script</key>
				<string>python copypaths_scriptfilter.py {query}</string>
				<key>title</key>
				<string>Copy Paths…</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>29AFC161-7DA4-49DC-A28C-1FF147F6821F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>59BF1AEF-144E-4042-8244-7E61E6D1325E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy POSIX Paths to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>636F43FB-27D6-4565-9034-33F7120B1D1A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python copypaths_main.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>601D59D3-8B11-4720-9F77-3D87A5819AA9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copy Paths to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>93253571-0958-40AD-9ACE-5E97D0398853</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy quoted POSIX Path to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>3A86F9C3-DED6-4654-BC42-5F8AB48D2E95</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python copypaths_main.py "{query}" "-q"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F8E24A6C-B6B3-4FCC-9963-9E2289AFE38D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python copypaths_main.py "{query}" "-s"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9D59D667-F0A9-4B57-987E-E686F6645998</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy '~/'-POSIX Path to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>3A634EBE-9261-469F-8470-78621A73077D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python copypaths_main.py "{query}" "-s" "-q"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5CA1DBC9-6B82-4CF2-827D-19AD5725E79C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy quoted '~/'-POSIX Path to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>766986B8-A045-464A-964F-57DA3946A609</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy HFS Paths to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>15AF07F6-F977-4D0D-9623-513AAE5C9FF2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python copypaths_main.py "{query}" "hfs"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AD1322FA-0163-4E0D-A433-DE4840C94AE0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy quoted HFS Paths to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>F4987FD6-2542-473C-8881-1A6431EE2A41</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python copypaths_main.py "{query}" "hfs" "-q"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E3E96354-4193-4BAC-893F-EF6A0C0AC8DE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Copy Paths to Clipboard
=======================

Workflow for Alfred 2 to copy the paths of your current files and Documents to the clipboard in a variety of formats. 


Options
-------

"hfs" copy as HFS paths instead of POSIX

"-s" '~/'-shorten the paths if under user home (POSIX only)

"-q" copy as quoted paths

"-n" copy multiple paths on a new line each instead of comma-separated


For further notes on usage and options, please consult the README at:

http://github.com/franzheidl/copy-paths-to-clipboard

===
Franz Heidl 2013, MIT license.</string>
	<key>uidata</key>
	<dict>
		<key>15AF07F6-F977-4D0D-9623-513AAE5C9FF2</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>29AFC161-7DA4-49DC-A28C-1FF147F6821F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3A634EBE-9261-469F-8470-78621A73077D</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>3A86F9C3-DED6-4654-BC42-5F8AB48D2E95</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>59BF1AEF-144E-4042-8244-7E61E6D1325E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5CA1DBC9-6B82-4CF2-827D-19AD5725E79C</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>601D59D3-8B11-4720-9F77-3D87A5819AA9</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>636F43FB-27D6-4565-9034-33F7120B1D1A</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>766986B8-A045-464A-964F-57DA3946A609</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>93253571-0958-40AD-9ACE-5E97D0398853</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>9D59D667-F0A9-4B57-987E-E686F6645998</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>AD1322FA-0163-4E0D-A433-DE4840C94AE0</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>E3E96354-4193-4BAC-893F-EF6A0C0AC8DE</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>F4987FD6-2542-473C-8881-1A6431EE2A41</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>F8E24A6C-B6B3-4FCC-9963-9E2289AFE38D</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.franzheidl.de</string>
</dict>
</plist>
