<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mcskrzypczak.copyname2</string>
	<key>connections</key>
	<dict>
		<key>17B965CA-4B99-49F6-9560-168CA2E3B6D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5258DED-5EB7-4A0C-AEB6-B6B483EF640B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8F12001B-F660-4723-90AF-7EAFFE02B0AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5258DED-5EB7-4A0C-AEB6-B6B483EF640B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C5258DED-5EB7-4A0C-AEB6-B6B483EF640B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3408E364-7C6C-483F-9C27-4C5FAE7C33F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Maciej Skrzypczak</string>
	<key>description</key>
	<string>Copies file/folder name (w/o extension)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Copy name</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>fullpath="{query}"

filename=$(basename "$fullpath")
#filename=${filename%.*}

echo -n $filename</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C5258DED-5EB7-4A0C-AEB6-B6B483EF640B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3408E364-7C6C-483F-9C27-4C5FAE7C33F6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>17B965CA-4B99-49F6-9560-168CA2E3B6D4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy file/folder name</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>8F12001B-F660-4723-90AF-7EAFFE02B0AD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>17B965CA-4B99-49F6-9560-168CA2E3B6D4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3408E364-7C6C-483F-9C27-4C5FAE7C33F6</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8F12001B-F660-4723-90AF-7EAFFE02B0AD</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>C5258DED-5EB7-4A0C-AEB6-B6B483EF640B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.imagazine.pl</string>
</dict>
</plist>
