<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>1</string>
	<key>connections</key>
	<dict>
		<key>E36DEF60-FFC3-4BDF-ACD8-44D1C9E0E91C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5618EAD1-6CEC-4C7E-AE2D-EE6CED2256F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F5E84752-C234-4A39-BD45-31918C3024DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5618EAD1-6CEC-4C7E-AE2D-EE6CED2256F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Flow</string>
	<key>description</key>
	<string>Launches a new email</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>NewEmailLaucher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nm</string>
				<key>text</key>
				<string>New mail</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E36DEF60-FFC3-4BDF-ACD8-44D1C9E0E91C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F5E84752-C234-4A39-BD45-31918C3024DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>tell application "Mail"	set newMessage to make new outgoing message	tell newMessage		set visible to true	end tell	activateend tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5618EAD1-6CEC-4C7E-AE2D-EE6CED2256F0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5618EAD1-6CEC-4C7E-AE2D-EE6CED2256F0</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>E36DEF60-FFC3-4BDF-ACD8-44D1C9E0E91C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F5E84752-C234-4A39-BD45-31918C3024DB</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.ouhyeah.fr</string>
</dict>
</plist>
